.about-product {
	padding: 4rem 0
}

.about-product__wrap {
	display: flex
	justify-content: space-between
	position: relative
}

.about-product__column-left {
	width: 100%
	max-width rem(555)
}

.about-product__column-right {
	width: 50%
	padding: 0 2.9rem 0 3.9rem;
}
	.about-product__title{
		margin-top: 9.45rem
		p{
			color: #98E9FF;
			font-size: rem(18)
			line-height: 1
			margin-top: 1.9rem
		}
	}