.bottom-info {
	padding: 2.7rem 0 5rem
}

.bottom-info__wrap {
	display: flex
	justify-content: center
	position: relative
	z-index: 5
}

.bottom-info__column {
	width: 60%
	position: relative
}

.bottom-info__title {
	text-align: center
}

.bottom-info__sale {
	top: 10rem;
	left: -1.4rem;
	position: absolute;
}

.bottom-product_back {
	width: rem(406)
	margin: 1.3rem 0 0 4.6rem;
}

.bottom-product {
	width: 29.25rem;
	margin: -19.8rem 0 0 13.6rem;
}
	.bottom-info__price{
		position: absolute;
		right: -4.2rem;
		top: 30.1rem;
		left: auto;
	}
		.bottom-info__discount-btn{
			width: 100%;
			max-width: 19.38rem;
			text-align: center;
			margin: -2.9rem auto;
		}