.gallery {
	padding: 4.5rem 0
}
.gallery__wrap{
	position: relative
}
.gallery-images {
	display: flex
	justify-content: space-between
	margin-left: -2.1rem
	margin-right: -2.1rem
}

.gallery-info-txt {
	display: flex
	justify-content: space-between
	margin: 3.3rem 0 3.85rem
}

.gallery__title {
	width: 45.4%
	display: flex
	justify-content: flex-end
	h2 {
		margin-top: 2rem
	}
	
}

.gallery-txt {
	width: 47.5%;
	padding-right: 6rem;
	p {
		font-size: rem(20)
		line-height: 1
		color: #98E9FF;
	}
}