.reviews {
	padding: 3.6rem 0
	.wrapper {
		padding: 0 3.1rem
	}
}

.review__slider {
	margin-top: 3rem
	padding-bottom: .9rem
	.swiper-slide {
		display: flex
		justify-content: space-between
		
	}
}

.review__item {
	width: 100%
	max-width: rem(500)
	&:first-child {
		margin-top: .3rem
	}
}

.review__item-txt {
	p {
		font-size: rem(18);
		line-height: 1;
		color: #98E9FF;
	}
}

.review__item-user {
	margin-top: 1.45rem
	p {
		color: #ffffff
		font-size: rem(20);
		line-height: 1;
		font-weight: bold
		text-transform: uppercase
		letter-spacing: 1px
	}
}

.swiper-button-prev:after, .swiper-button-next:after {
	display: none
}
	.review__button-prev{
		left: 4.6rem;
		top: auto;
		bottom: -2.2rem;
	}
	.review__button-next{
		right: 4.6rem;
		top: auto;
		bottom: -1.7rem;
	}