.decor {
	position: absolute
	pointer-events none
}

.top-info__decor-1 {
	width: rem(90)
	top: 32.7rem;
	right: -2.9rem;
	z-index: 4
}

.top-info__decor-2 {
	width: rem(90)
	top: 1.6rem;
	right: 22rem;
	z-index: 4
}

.top-info__decor-3 {
	width: 10rem;
	top: 17.6rem;
	right: 34rem;
	z-index: 4
}

.top-info__decor-4 {
	width: 5.49rem;
	top: 30.8rem;
	right: 34.2rem;
	transform: scale(1, -1);
	z-index: 4
}

.top-info__decor-5 {
	top: 0.4rem;
	right: -17.4rem;
}

.top-info__decor-6 {
	top: 13.1rem;
	left: 33.7rem;
	z-index: 3
}

.top-info__decor-7 {
	top: 21.5rem;
	left: -20.3rem;
}

.advantages__decor-1 {
	top: -6.1rem;
	left: 23.9rem;
}

.advantages__decor-2 {
	top: 9.4rem;
	right: -4.4rem;
}

.gallery__decor-1 {
	top: 49.8rem;
	left: -7.4rem;
}

.gallery__decor-2 {
	top: 19rem;
	right: -4.2rem;
}

.gallery__decor-3 {
	top: 4rem;
	left: -11.8rem;
}

.gallery__decor-4 {
	right: -11.4rem;
	top: 28rem;
}

.about-product__decor-1 {
	right: 5.1rem;
	top: 28.1rem;
	transform: rotate(-22deg);
}

.about-product__decor-2 {
	left: 25.5rem;
	top: 4rem;
}

 
.reviews__decor-1 {
	top: 5.5rem;
	left: -16.3rem;
	width: 13.85rem;
}

.our-work__decor-1 {
	top: -3.1rem;
	left: 11.3rem;
}
	.bottom-info__decor-1{
		top: 34.2rem;
		left: 18rem;
	}
	.bottom-info__decor-2{
		top: 17.7rem;
		right: 13.7rem;
		transform: rotate(144deg);
		z-index: 4
	}
	.bottom-info__decor-3{
		width: 5.69rem;
		top: 28.1rem;
		left: 14.1rem;
		transform: scale(-1,1) rotate(179deg);
		z-index: 4
	}
	.bottom-info__decor-4{
		top: 6.5rem;
		right: 18.2rem;
		z-index: 1
	}
	.bottom-info__decor-5{
		top: 17.9rem;
		left: 7.9rem;
		width: 13.13rem;
		transform: rotate(49deg);
		z-index: 1
	}