.title {
	h1 {
		font-style: normal;
		font-weight: 900;
		font-size: rem(36);
		line-height: rem(38);
		text-transform: uppercase;
		color: #FFFFFF;
	}
	h2{
		color: #fff;
		font-weight: 900;
		font-size: rem(24);
		line-height: rem(30);
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	
}