@media (min-width: 481px) and (max-width: 767px) {
	
	main {
		
		overflow: hidden
	}
	
	.wrapper {
		max-width: 90%
	}
	
	.mobile-none {
		display: none
	}
	
	.desktop-none {
		display: block;
	}
	
	.title {
		h1 {
			font-size: rem(28)
			line-height: rem(34)
		}
		
		h2 {
			font-size: rem(28)
			line-height: rem(34)
		}
	}
	
	.top-info__title {
		text-align: center
		margin-top: 0
		p {
			font-size: rem(20)
			line-height: 1
			margin-top: 0.6rem
		}
	}
	
	.top-info {
		padding: rem(21) 0
	}
	
	.info__wrap {
		width: 100%
		max-width: rem(480)
		margin: auto
		display: flex
		flex-direction: column
		justify-content: center
		
	}
	
	.top-info__column-left {
		width: 100%;
		position: relative;
	}
	
	.top-info__price {
		width: 10.92rem;
		height: 10.92rem;
		top: 0.7rem;
		left: -0.1rem;
	}
	
	.info__column {
		width: 100%;
		position: relative;
	}
	
	.top-product_back {
		width: 27.27rem;
		height: 27.27rem;
		margin: 1.4rem 0 0 4.2rem;
	}
	
	.top-product {
		width: 23.05rem;
		height: 20.38rem;
		margin: -15.9rem 0 0 -2.9rem;
		position: relative;
		z-index: 5;
	}
	
	.old-price {
		font-size: rem(28)
		line-height: 1
	}
	
	.new-price {
		font-size: rem(40)
		line-height: 1
	}
	
	.top-info__sale {
		right: 0rem;
		top: 21.4rem;
		width: 9.2rem;
		height: 9.2rem;
	}
	
	.info__sale {
		p {
			font-size: rem(49)
			line-height: 1
			margin-top: 0.9rem;
		}
	}
	
	.top-info__discount-btn {
		margin: 1.4rem auto 0;
	}
	
	.info__list-img {
		width: 5.05rem;
		height: 5.05rem;
		margin-right: .65rem
		img {
			width: 2.44rem;
			height: 2.99rem;
		}
	}
	
	.info__list-txt {
		width: 100%;
		max-width: 78%;
		margin-top: .8rem
	}
	
	.info__list {
		margin: auto
		li {
			margin-top: 3.2rem
		}
	}
	
	.info__list li:nth-child(2) {
		margin-top: 1.9rem;
	}
	
	.info__list li:nth-child(3) {
		margin-top: 2.6rem;
	}
	
	.top-info__decor-1 {
		width: 3.63rem;
		top: 33.2rem;
		right: 9.4rem;
		z-index: 4;
	}
	
	.top-info__decor-2 {
		width: 3.63rem;
		top: 44.6rem;
		right: 0.2rem;
		z-index: 4;
	}
	
	.top-info__decor-3, .top-info__decor-4 {
		display: none
	}
	
	.top-info__decor-6 {
		top: 21.7rem;
		left: -4.8rem;
		width: 15.3rem;
		z-index: 3;
	}
	
	.top-info__decor-5 {
		top: 15.3rem;
		right: -7.6rem;
		width: 10rem;
	}
	
	.top-info__decor-7 {
		top: 53rem;
		left: auto;
		width: 23.1rem;
		right: -10rem;
	}
	
	.advantages {
		padding: 2.8rem 0;
	}
	
	.advantages__wrap {
		width: 100%
		max-width: rem(480)
		margin: auto
		display: flex
		flex-direction: column
		justify-content: center
	}
	
	.advantages__column {
		width: 100%;
	}
	
	.advantages__column-2 {
		padding: 0
	}
	
	.advantages__title {
		h2 {
			text-align: center
		}
		p {
			margin-top: 1.35rem;
		}
	}
	
	.advantages__main-img {
		margin: 1.2rem 0;
	}
	
	.advantages__list {
		margin-left: 1.2rem;
		margin-top: 3.3rem;
		li {
			margin-bottom: 1.5rem
			&:after {
				left: -1.25rem;
			}
		}
	}
	.product {
		padding: 2.7rem 0 6.8rem;
	}
	.product__wrap{
		width: 100%
		max-width: rem(480)
		margin: 1.1rem auto 0
		display: flex
		flex-direction: column
		justify-content: center
		padding: 0.58rem 0.58rem 3rem;
	}
	.product__info {
		margin-top: 1.9rem
		span {
			max-width: max-content;
		}
	}
	.product__price{
		justify-content: center
		align-items: center
		margin-top: 1.8rem
	}
	.product__form{
	
	}
	.order-form{
		flex-direction: column
		justify-content: center;
		align-items: center;
		input{
			margin-right: 0rem;
			margin-bottom: .65rem
		}
		button{
			transform translate(-50%, 0)
			left: 50%
			right: auto;
			bottom: -2.7rem;
		}
	}
	.gallery {
		padding: 2.6rem 0;
	}
	.gallery-images {
		flex-wrap: wrap
		margin-left: auto;
		margin-right: auto;
	}
	.gallery__wrap{
		width: 100%
		max-width: rem(480)
		margin: auto
		display: flex
		flex-direction: column
		justify-content: center
	}
	.gallery-images-top{
		.gallery__item {
			&:nth-child(1) {
				width: 100%
				margin-bottom: .5rem
			}
			&:nth-child(2) {
				width: 49%
			}
			&:nth-child(3) {
				width: 49%
			}
		}
	}
	.gallery-info-txt {
		flex-direction: column
		justify-content: center
		margin: 1.95rem 0 2.25rem;
	}
	.gallery__title {
		width: 100%;
		text-align: center
		justify-content: center
		h2{
			margin-top: 0
			br{
				display: none
			}
		}
	}
	.gallery-txt{
		width: 100%
		padding-right: 0;
		margin-top: 0.9rem;
	}
	.gallery-images-bottom{
		.gallery__item {
			&:nth-child(1) {
				width: 49%
				margin-bottom: .5rem
			}
			&:nth-child(2) {
				width: 49%
			}
			&:nth-child(3) {
				width: 100%
			}
		}
	}
	.gallery__decor-1{
		display: none
	}
	.gallery__decor-2{
		top: 20.1rem;
		right: auto;
		left: 0.4rem;
		width: 2.9rem;
	}
	.gallery__decor-3 {
		top: 7rem;
		left: 7.9rem;
		width: 18.6rem;
	}
	.gallery__decor-4 {
		right: auto;
		top: 44.3rem;
		left: -3.5rem;
		width: 16rem;
	}
	.about-product {
		padding: 0 0 2rem;
	}
	.about-product__wrap{
		width: 100%
		max-width: rem(480)
		margin: auto
		display: flex
		flex-direction: column-reverse
		justify-content: center
	}
	.about-product__column-left {
		width: 100%;
		max-width: 100%;
	}
	.about-product__column-right {
		width: 100%;
		max-width: 100%;
		padding: 0
	}
	.about-product__title {
		margin-top: 0;
		h2 {
			text-align: center;
		}
		p{
			margin-top: 1.05rem;
		}
	}
	.about-product__main-img{
		margin-top: 1.7rem
	}
	.about-product__decor-1{
		display: none
	}
	.about-product__decor-2 {
		left: 2.3rem;
		top: 15.7rem;
		width: 24.6rem;
	}
	.reviews {
		padding: 2.4rem 0;
	}
	.reviews .wrapper {
		padding: 0;
	}
	.review__title{
		text-align: center
	}
	.review__slider{
		width: 100%
		max-width: rem(480)
		margin: 0 auto
		.swiper-slide{
			flex-direction: column
			
		}
	}
	.review__item, .review__item:first-child {
		margin-top: 2.7rem
	}
	.review__button-prev {
		left: -0.4rem;
		top: auto;
		bottom: -4.2rem;
	}
	.review__button-next {
		right: 0rem;
		top: auto;
		bottom: -3.7rem;
	}
	.our-work__wrap{
		width: 100%
		max-width: rem(480)
		margin: 0 auto
		display: flex
		flex-direction: column
		
	}
	.our-work {
		padding: 6.6rem 0 2rem;
	}
	.our-work__item:first-child {
		max-width: 100%;
	}
	.our-work__item:nth-child(2) {
		max-width: 100%;
	}
	
	.our-work__item:nth-child(3) {
		max-width: 100%;
	}
	
	.our-work__item:nth-child(4) {
		max-width: 100%;
	}
	.our-work__item{
		display: flex
		margin-bottom: 2.2rem
	}
	.our-work__item-txt {
		margin-top: 0.5rem;
		width: 66%;
	}
	.our-work__item-number{
		margin-right: 1.1rem
	}
	.our-work__decor-1{
		display: none
	}
	.bottom-info {
		padding: 0.8rem 0 4rem;
	}
	.bottom-info__title{
		h1{
			br{
				display: none
			}
		}
		p{
			font-size: rem(20)
			line-height: 1
		}
	}
	.bottom-info__sale {
		top: 13rem;
		left: auto;
		right: 0;
		width: 9.2rem
		height: 9.2rem
	}
	.bottom-product_back {
		margin: 3.6rem 0 0 -0.8rem;
	}
	.bottom-product {
		width: 26.25rem;
		margin: -11rem 0 0 4rem;
	}
	.bottom-info__price {
		right: auto;
		top: 30.8rem;
		left: -0.5rem;
		width: 10.82rem;
		height: 10.82rem;
	}
	.bottom-info__discount-btn {
		margin: 1.7rem auto 0
	}
	.bottom-info__decor-1, .bottom-info__decor-2, .bottom-info__decor-3{
		display: none
	}
	.bottom-info__decor-4 {
		top: 5.6rem;
		right: auto;
		left: -6.8rem;
		width: 21rem;
	}
	.bottom-info__decor-5 {
		top: 29.9rem;
		left: 5.5rem;
		width: 13.13rem;
	}
}


