@media (min-width: 1680px) and (max-width: 1820px) {

}

@media (min-width: 980px) and (max-width: 1359px) {

}

@media (min-width: 1360px) and (max-width: 1679px) {
	html {
		font-size: 1.2vw;
	}

}


@media (min-width: 980px) and (max-width: 1300px){
	html{
		font-size: 1.25vw
	}
}
